{% extends 'base.html' %}
{% load static %}

{% block title %}
    Launches
{% endblock title %}


{% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/launches.css' %}" />
{% endblock css %}
    
{% block sidenav %}
<div class="nav">
    <img class="menu-icon" src="{% static '/images/menu-icon.svg' %}">
<nav>
<section id="category-container">
    <a href="{% url 'main:home' %}"><div class="sec">Welcome to</div>
    <div class="pri">Space X</div></a>
        <p>Categories</p>
        <section id="categories">
            <a href="{% url 'main:allLaunches' %}"><div class="category"><img class=" pink" src="{% static 'images/launch-icon.svg' %}">Launches</div></a>
            <a href="{% url 'main:allRockets' %}"><div class="category"><img class=" blue" src="{% static 'images/rocket-icon.svg' %}">Rockets</div></a>
            <a href="{% url 'main:allCores' %}"><div class="category "><img class="purple" src="{% static 'images/core-icon.svg' %}">Cores</div></a>
            <a href="{% url 'main:allMissions' %}"><div class="category"><img class=" teal" src="{% static 'images/mission-icon.svg' %}">Missions</div></a>
        </section>
    </section>
</nav>
<section id="list">
<div class="list">
<div class="maintitle">
    <div>
<h1>Cores</h1></div>
    <div><form action="{% url 'main:cores' no=no %}" method="POST">
        {% csrf_token %} 
        <button id="refresh" name="refresh" class="button" type="submit"><ion-icon name="refresh"></ion-icon></button>
    </form></div>
    </div>
<div id="outer" class = "outer">
<div id="head" class="col1">Core Serial</div>
<div id="head" class="col2">Core Name</div>
</div>
<div class="table">
{% for core in core_details %}
    <div class = "outer {% if no == core.id %}selected{% endif %}">
    <a href="{% url 'main:cores' no=core.id %}">
    <div class="col1">{{core.core_serial}}</div>
    <div class="col2">{{core.mission_name}}</div>
    </a></div>
{% endfor %}
</div>
</div>

</section>
</div>
{% endblock sidenav %} 
{% block content %}
{% endblock content %} 

{% block scripts %}
<script>
        (function() {
            var menu = document.querySelector('nav'),
            list = document.getElementById('list'),
                menulink = document.querySelector('.menu-icon');
        
            menulink.addEventListener('click',function(e) {
                menu.classList.toggle('active');
                    e.preventDefault();
                list.classList.toggle('disable');
                    e.preventDefault();
            });
        })();
</script>
{% endblock scripts %}