{% extends 'base.html' %}
{% load static %}

{% block title %}
    Launches
{% endblock title %}


{% block css %}
{% endblock css %}
    
{% block sidenav %}

<section id="category-container">
    <a href="{% url 'main:home' %}"><div class="sec">Welcome to</div>
    <div class="pri">Space X</div></a>
        <p>Categories</p>
        <section id="categories">
            <a href="{% url 'main:allLaunches' %}"><div class="category"><img class=" pink" src="{% static 'images/launch-icon.svg' %}">Launches</div></a>
            <a href="{% url 'main:allRockets' %}"><div class="category"><img class=" blue" src="{% static 'images/rocket-icon.svg' %}">Rockets</div></a>
            <a href="{% url 'main:allCores' %}"><div class="category "><img class="purple" src="{% static 'images/core-icon.svg' %}">Cores</div></a>
            <a href="{% url 'main:allMissions' %}"><div class="category"><img class=" teal" src="{% static 'images/mission-icon.svg' %}">Missions</div></a>
        </section>
    </section>
{% endblock sidenav %}  
{% block content %}
    <header>
        <h2>Latest Launch</h2>
        <h4>
            {{latest.launch_date}}
        </h4>
    </header>
    <div class="wrapper">
        <div class="title">
            <h3>
                {{latest.rocket_name}}
            </h3>
            {% if latest.launch_success == "True" %}
            <div class="success">Success</div>
            {% else %}
            <div class="failure">Failed</div>
            {% endif %}
        </div>
        <div class="links">
            <a target="_blank" href="{{latest.reddit_launch}}"><ion-icon name="logo-reddit"></ion-icon></a>
            <a target="_blank" href="{{latest.video_link}}"><ion-icon name="logo-youtube"></ion-icon></a>
            <a target="_blank" href="{{latest.article_link}}"><ion-icon name="laptop"></ion-icon></a>
        </div>
    </div>
    <div class="info-class"><h4>Flight No</h4> {{ latest.flight_number }}</div>
    <div class="desc">
        {{latest.details}}
    <a target="_blank" href="{{latest.wikipedia}}"><button class="read">Read more</button></a>
    </div>
    <header>
        <h2>Upcoming Launch</h2>
        <h4>
            {{next.launch_date}}
        </h4>
    </header>
    <div class="outer">
        <div class="title">
            <h3>
                {{next.rocket_name}}
            </h3>
        </div>
        <div class="links">
        
            {% if next.reddit_launch != None %}
            <a target="_blank" href="{{next.reddit_launch}}"><ion-icon name="logo-reddit"></ion-icon></a>
            {% endif %}
            {% if next.video_link != None %}
            <a target="_blank" href="{{next.video_link}}"><ion-icon name="logo-youtube"></ion-icon></a>
            {% endif %}
            {% if next.article_link != None %}
            <a target="_blank" href="{{next.article_link}}"><ion-icon name="laptop"></ion-icon></a>
            {% endif %}
        </div>
    </div>
    <div class="info-class"><h4>Flight No</h4> {{ next.flight_number }}</div>
    <div class="desc">
        {{next.details}}
    <a target="_blank" href="{{next.wikipedia}}"><button class="read">Read more</button></a>
    </div>
{% endblock content %}